html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
font-family: 'Open Sans', sans-serif;
background-color: #3E7AD0;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #3E7AD0;
  text-shadow: 3px 4px 3px black;
}
h1:hover {
    font-size: 80px;
    color:white;
    text-shadow: 6px 7px 3px darkblue;
  }
p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
p:hover,li:hover {
  color:white;
  font-size: 25px;
/*  width: 800px; */
/*border: 1px dotted violet;> */
}

img {
  display: block;
  margin: 0 auto;
}

img:hover {
  width:400px;
}
